h1 {
    color: black;
    padding-left: 20px;
  }
  
  h2 {
    color: black;
    padding: 20px;
  
  }
  
  p {
    color: black;
    padding: 15px;
    font-size: 25px;
  }
  
  li {
    color: black;
    font-size: 25px;
  }