<!DOCTYPE html>
<html lang = "en">
<head>
  <title>Patient Portal</title>
  <meta charset="UTF-8">
</head>

<body>
  <div id = "mysideBar" class = "sidebar">
    <a href = "javascript:void(0)" class = "closebtn" (click) = "closeNav()">&times;</a>
    <div class = "overlay-content">
      <a href = "sapp">Schedule an Appointment</a>
      <br>
      <a href = "message">Messages</a>
      <br>
      <a href = "prescription">My Medications</a>
      <br>
      <a href = "precords">Records</a>
      <br>
      <a href = "settingsP">Account Settings</a>
      <br>
      <a href = "vchat">Video Chat</a>
    </div>
  </div>
  <div class = "main">
    <button class = "openbtn" (click) = "openNav()">&#9776;</button>
  </div>

  <div class ="container">
    <div class = "card">
        <h3 class="text-center" style="display:inline;"> Medication List</h3>
        <div class = "card-body" style="display: block; margin: 0 auto;">
            <table class="table table-striped">
                <thead>
                    <th> Name </th>
                    <th> Dosages </th>
                    <th> Description </th>
                    <th> Actions </th>
                </thead>
                <tbody>
                    <tr *ngFor = "let ps of prescriptions">
                        <td> {{ ps.name }}</td>
                        <td> {{ ps.dosages }}</td>
                        <td> {{ ps.description }}</td>
                        <td>
                            <span><button name="delete" style="margin: 5px 10px;" (click)="delete(ps)">Delete</button></span>
                            <span><button name="update" style="margin: 5px 10px;" data-toggle="modal" data-target="#updatePrescription" (click)="setPrescription(ps)">Update</button></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <span><button name="newPrescription" style="display: block; margin: 0 auto;" data-toggle="modal" data-target="#newPrescription">New Prescription</button></span>
        </div>
    </div>
</div>

<div id="newPrescription" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Save Prescription</h4>
        </div>
        <div class="modal-body">
          <form #newPrescriptionForm="ngForm" >
            <p>Please fill in this form to create a new Prescription.</p>
            <hr>
            <label for="name"><b>Name</b></label>
            <input type="text" ngModel placeholder="Enter Name" name="name" id="name" required>
        
            <label for="dosages"><b>Dosage</b></label>
            <input type="text" ngModel placeholder="Enter Dosage" name="dosages" id="dosages" required>
        
            <label for="description"><b>Description</b></label>
            <input type="text" ngModel placeholder="Enter Description" name="description" id="description">
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" data-dismiss="modal" [disabled]="newPrescriptionForm.invalid" (click)="save(newPrescriptionForm)">Save</button>
        </div>
      </div>
  
    </div>
</div>

<div id="updatePrescription" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update Prescription</h4>
      </div>
      <div class="modal-body">
        <form #updatePrescriptionForm="ngForm" (ngSubmit)="update(updatePrescriptionForm)">
          <p>Please fill in this form to update values.</p>
          <hr>
      
          <label for="name"><b>Name</b></label>
          <input type="text" ngModel placeholder="Enter Name" name="name" id="name">
      
          <label for="dosages"><b>Dosage</b></label>
          <input type="text" ngModel placeholder="Enter Dosage" name="dosages" id="dosages">
      
          <label for="description"><b>Description</b></label>
          <input type="text" ngModel placeholder="Enter Description" name="description" id="description">
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" data-dismiss="modal" (click)="update(updatePrescriptionForm)">Update</button>
      </div>
    </div>

  </div>
</div>
  
</body>
</html>