<!DOCTYPE html>
<html lang = "en">
<head>
  <title>Doctor Portal</title>
  <meta charset="UTF-8">
</head>

<body>
  <div id = "mysideBar" class = "sidebar">
    <a href = "javascript:void(0)" class = "closebtn" (click) = "closeNav()">&times;</a>
    <div class = "overlay-content">
      <a href = "showappt">Appointments</a>
      <br>
      <a href = "patientlist">Patients</a>
      <br>
      <a href = "medreq">Medication Requests</a>
      <br>
      <a href = "uploadrep">Upload Reports</a>
      <br>
      <a href = "docchats">Chats</a>
      <br>
      <a href = "docinbox">Inbox</a>
      <br>
      <a href = "settingsD">Account Details</a>
    </div>
  </div>
  <div class = "main">
    <button class = "openbtn" (click) = "openNav()">&#9776;</button>
  </div>
  <h1 class = "title">Doctor Portal Homepage</h1>
</body>
