<!DOCTYPE html>
<html lang = "en">
<head>
  <title>Patient Portal</title>
  <meta charset="UTF-8">
</head>

<body>
  <div id = "mysideBar" class = "sidebar">
    <a href = "javascript:void(0)" class = "closebtn" (click) = "closeNav()">&times;</a>
    <div class = "overlay-content">
      <a href = "patientp">Home</a>
      <br>
      <a href = "sapp">Schedule an Appointment</a>
      <br>
      <a href = "pchat">Messages</a>
      <br>
      <a href = "prescription">My Medications</a>
      <br>
      <a href = "precords">Records</a>
      <br>
      <a href = "#">Account Settings</a>
      <br>
      <a href = "vchat">Video Chat</a>
    </div>
  </div>
  <div class = "main">
    <button class = "openbtn" (click) = "openNav()">&#9776;</button>
  </div>
  <h1 class = "title">Patient Messages</h1>
</body>
