<!DOCTYPE html>
<html lang = "en">
<head>
  <title>Admin Portal</title>
  <meta charset="UTF-8">
</head>

<body>
  <div id = "mysideBar" class = "sidebar">
    <a href = "javascript:void(0)" class = "closebtn" (click) = "closeNav()">&times;</a>
    <div class = "overlay-content">
      <a href = "doctorp">Home</a>
      <br>
      <a href = "showappt">Appointments</a>
      <br>
      <a href = "patientlist">Patients</a>
      <br>
      <a href = "medreq">Medication Requests</a>
      <br>
      <a href = "uploadrep">Files</a>
      <br>
      <a href = "docchats">Messages</a>
      <br>
      <a href = "dBox">Inbox</a>
      <br>
      <a href = "vchat">Video Chat</a>
      <br>
      <a href = "settingsD">Account Details</a>
    </div>
  </div>
  <div class = "main">
    <button class = "openbtn" (click) = "openNav()">&#9776;</button>
  </div>

  <div class ="container">
    <div class = "card">
        <h3 class="text-center" style="display:inline;"> Files </h3>
        <div class = "card-body" style="display: block; margin: 0 auto;">
            <table class="table table-striped">
                <thead>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    <tr *ngFor="let report of reports">
                        <td> {{ report?.name }}</td>
                        <td> {{ report?.type }}</td>
                        <td>
                            <span><button name="delete" style="margin: 5px 10px;" (click)="deleteReport(report)">Delete</button></span>
                            <span><button name="send" style="margin: 5px 10px;" data-toggle="modal" data-target="#sendReport" (click)="setReport(report)">Send</button></span>
                            <span><button id="download" name="download" style="margin: 5px 10px;"><a download href="{{report.url}}">Download</a></button></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <span><button class="returnbtn" name="newReport" style="display: block; margin: 0 auto;" data-toggle="modal" data-target="#newReport">Upload New File</button></span>
        </div>
    </div>
</div>

<div id="newReport" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Upload File</h4>
      </div>
      <div class="modal-body">
        <form #newReportForm="ngForm" >
          <p>Please fill in this form to upload a new file.</p>
          <hr>

          <label for="selectFile" >Select File</label>
          <br>
          <input id="selectFile" class="selectFile" type="file" class="file-input"
          (change)="selectFile($event)" #fileUpload required>
          <br>

<!--
          <br>
            <p>If you want to send the file to a patient or admin select them below.</p>
            <label for="patientId">Select the patient: </label>
            <select ngModel name="patientId" id="patients">
            <option *ngFor="let patient of patients" [value]="patient.id">{{patient.fname}} {{patient.lname}}</option>
            </select>
            <br>
            <label for="adminId">Select the admin: </label>
            <select ngModel name="adminId" id="admins">
            <option *ngFor="let admin of admins" [value]="admin.id">{{admin.fname}} {{admin.lname}}</option>
            </select>
            <br>
          -->
        </form>
      </div>
      <div class="modal-footer">
        <button class="returnbtn" type="submit" data-dismiss="modal" [disabled]="newReportForm.invalid" (click)="uploadReport(newReportForm)">Upload File</button>
      </div>
    </div>

  </div>
</div>

<div id="sendReport" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Send File</h4>
      </div>
      <div class="modal-body">
        <form #sendReportForm="ngForm" >
          <p>Please fill in this form to send file.</p>
          <hr>
            <br>
            <p>If you want to send the file to a patient or admin select them below.</p>
            <label for="patientId">Select the patient: </label>
            <select ngModel name="patientId" id="patients">
            <option *ngFor="let patient of patients" [value]="patient.id">{{patient.fname}} {{patient.lname}}</option>
            </select>
            <br>
            <label for="adminId">Select the admin: </label>
            <select ngModel name="adminId" id="admins">
            <option *ngFor="let admin of admins" [value]="admin.id">{{admin.fname}} {{admin.lname}}</option>
            </select>
            <br>
        </form>
      </div>
      <div class="modal-footer">
        <button class="returnbtn" type="submit" data-dismiss="modal" (click)="sendReport(sendReportForm)">Send File</button>
      </div>
    </div>

  </div>
</div>

</body>
</html>

<!--
<div id="downloadVerification" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Send File</h4>
      </div>
      <div class="modal-body">
        <form #validateUserForm="ngForm" >
          <p>Please sign in to download file.</p>
          <hr>
          <label for="email"><b>Email</b></label>
          <input type="text" ngModel placeholder="Enter email..." name="email" id="email" required>
      
          <label for="password"><b>Password</b></label>
          <br>
          <input type="password" ngModel placeholder="Enter password..." name="password" id="password" required>
        </form>
      </div>
      <div class="modal-footer">
        <button class="returnbtn" type="submit" data-dismiss="modal" (click)="validateUser(validateUserForm)">Sign in</button>
      </div>
    </div>

  </div>
</div>         
-->