<html>
<body>
    <h1>About Us</h1>
    <p>View the following information in the boxes below</p>
    <hr>

    <div>About Us: <br> Telemedicine allows patients to communicate with a healthcare provider using technology, as opposed to physically visiting a doctor's office or hospital.
    We strive to provide the best service to old and new patients everyday. We care about your health and look forward to continue doing so. </div>
    <p> </p>
    <div>HIPPA Policy: <br> 
        The HIPAA Privacy Rule establishes national standards to protect individuals' medical records and other individually identifiable health information (collectively defined as “protected health information”) and applies to health plans, health care clearinghouses, and those health care providers that conduct certain health care transactions electronically. The Rule requires appropriate safeguards to protect the privacy of protected health information and sets limits and conditions on the uses and disclosures that may be made of such information without an individual’s authorization. The Rule also gives individuals rights over their protected health information, including rights to examine and obtain a copy of their health records, to direct a covered entity to transmit to a third party an electronic copy of their protected health information in an electronic health record, and to request corrections.</div>
    <p> </p>
    <div>Privacy Policy: Our privacy policy page can be found <a href="privacy">here</a>.</div>
    <p> </p>
    <div>Contact: <br> You can email us at .... and we'll get back to you soon as possible!</div>
    <p> </p>
</body>
</html>