<html>
<body>
    <h1>COVID 19 Resource</h1>
    <hr>
    <div>
    <p>Telemedicine is committed to the health and safety of our employees and our communities. The work we do and the world at large is
        impacted by COVID-19 and we're taking steps to mitigate the crisis.
        Your health and safety is our priority. We follow all mandated city, state and federal CDC guidelines.</p>
    </div>
    <br>
    <div>
        <h2>Please review the important information below ahead of your visit (In-Person)</h2>
        <p>If you are feeling ill, please stay home and contact your health professional. Signs of COVID-19 illness
include, but are not limited to, the following:</p>
    <ul>
    <li>Cough</li>
    <li>Fever of 100.4 or higher</li>
    <li>Runny nose or new sinus congestion</li>
    <li>Shortness of breath or difficulty breathing</li>
    <li>Chills</li>
    <li>Sore Throat</li>
    <li>New loss of taste and/or smell</li>
    <li>Fatigue</li>
    <li>Muscle or body aches</li>
    <li>Diarrhea</li>
  </ul>  
    </div>
    <br>
    <div>
        <h2>Steps Taken</h2>
        <p>In order to protect our patients, doctors, and staff we have taken the steps needed in doing so:</p>
        <ul>
            <li>All doctors and staff must be willing to be vaccinated.</li>
            <li>In alignment with local and state health regulations,
                masks are no longer required by patients, but they are still strongly recommended.
                Doctors and staff will continue to do.</li>
            <li>We continue to stay updated on world news and adjust.</li>
            <li>For your convenience, hand sanitizer stations have been placed throughout our building</li>
            <li>Patients and staff are encouraged to frequently wash their hands with soap and hot water or hand sanitizer for at least 20 seconds.</li>
            <li>Cleaning procedures have been enhanced for all high-touch areas.</li>
            <li>We offer for online meetings with our patients if they don't feel comfortable in coming in-person</li>
        </ul>
        <p> You can find more info on COVID 19 by following the link <a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html">here</a>.</p>
    </div>
    <br>
</body>
</html>