<div class="control-section">
	<div class="col-lg-9 content-wrapper">
	  <ejs-schedule
		#schedule
		height="525px"
		[(selectedDate)]="selectedDate"
		[eventSettings]="eventSettings"
		currentView="Week" 
		(popupOpen)="onPopupOpen($event)"
		(actionComplete)="onActionComplete($event)"
	  >
		<ng-template #eventSettingsTemplate let-data>
		  <div>
			<div class="subject">{{data.Subject}}</div>
			<div class="time">
			  Time: {{data.StartTime.toISOString()}} -
			  {{data.EndTime.toISOString()}}
			</div>
		  </div>
		</ng-template>
	  </ejs-schedule>
	</div>
  </div>
  
<head>
  <link href="//cdn.syncfusion.com/ej2/material.css" rel="stylesheet" />
</head>