body {
    font-family: "Montserrat", sans-serif;
    background-color: white;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Add padding to containers */
  h1 {
    padding-top: 16px;
    background-color: white;
  }
  
  p {
    padding-left: 85px;
    background-color: white;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  div {
    margin-top: 10%;
    color:black;
    width: 1000px;
    padding: 10px;
    border: 5px solid rgba(0, 136, 169, 1);
    margin-left: 11.5%;
    text-align: center;
    padding-bottom: 30px;
  }