<!DOCTYPE html>
<html lang = "en">
<head>
  <title>Admin Portal</title>
  <meta charset="UTF-8">
</head>

<body>
  <div id = "mysideBar" class = "sidebar">
    <a href = "javascript:void(0)" class = "closebtn" (click) = "closeNav()">&times;</a>
    <div class = "overlay-content">
      <a href = "doctorp">Home</a>
      <br>
      <a href = "showappt">Appointments</a>
      <br>
      <a href = "patientlist">Patients</a>
      <br>
      <a href = "medreq">Medication Requests</a>
      <br>
      <a href = "uploadrep">Files</a>
      <br>
      <a href = "docchats">Messages</a>
      <br>
      <a href = "docinbox">Inbox</a>
      <br>
      <a href = "vchat">Video Chat</a>
      <br>
      <a href = "settingsD">Account Details</a>
    </div>
  </div>
  <div class = "main">
    <button class = "openbtn" (click) = "openNav()">&#9776;</button>
  </div>
  <h1 class = "title">Medication Requests</h1>
  <div class ="container">
    <div>
        <h3 class="title" style="display:inline;"> Requested Refills</h3>
        <div style="display: block; margin: 0 auto;">
            <table class="table">
                <thead>
                    <th> Id </th>
                    <th> Prescription </th>
                    <th> Request Status </th>
                    <th> Patient </th>
                    <th> Actions </th>
                </thead>
                <tbody>
                    <tr *ngFor = "let r of userRequests">
                        <td> {{ r?.id }}</td>
                        <td> {{r?.prescriptionRequest?.name + ", " + r.prescriptionRequest?.dosages}}</td>
                        <td> {{r?.requestStatus }}</td>
                        <td> {{ r?.requestingPatient?.fname + " " + r.requestingPatient?.lname }}</td>
                        <td>
                          <div *ngIf="r?.requestStatus != confirmed && r?.requestStatus != denied">
                            <span><button class="btn" name="deny" style="margin: 5px 10px;" (click)="denyRequest(r)">Deny</button></span>
                            <span><button class="btn" name="fulfill" style="margin: 5px 10px;" (click)="fulfillRequest(r)">Fulfill</button></span>
                          </div>
                          <div *ngIf="r?.requestStatus == confirmed || r?.requestStatus == denied">
                            <span><button class="btn" name="delete" style="margin: 5px 10px;" (click)="removeRequest(r)">Remove</button></span>
                          </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <span><button class="returnbtn" name="viewPrescriptions" style="display: block; margin: 0 auto;" data-toggle="modal" data-target="#viewPrescriptions">View Prescribed Prescriptions</button></span>
        </div>
    </div>
  </div>

  <div id="viewPrescriptions" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="title">Prescribed Prescriptions</h4>
        </div>
        <div class="body">
          <div class ="container">
            <div>
                <h3 class="title" style="display:inline;"> Medication List</h3>
                <div style="display: block; margin: 0 auto;">
                    <table class="table">
                        <thead>
                            <th> Name </th>
                            <th> Dosages </th>
                            <th> Description </th>
                            <th> Doctor Prescribed </th>
                            <th> Actions </th>
                        </thead>
                        <tbody>
                            <tr *ngFor = "let ps of prescriptions">
                                <td> {{ ps?.name }}</td>
                                <td> {{ ps?.dosages }}</td>
                                <td> {{ ps?.description }}</td>
                                <td> {{ ps?.patient?.fname + " " + ps.patient?.lname }}</td>
                                <td>
                                    <span><button class="btn" name="delete" style="margin: 5px 10px;" (click)="deletePrescription(ps)">Delete</button></span>
                                    <span><button class="btn" name="update"  style="margin: 5px 10px;" (click)="setPrescription(ps)" data-toggle="modal" data-target="#updatePrescription">Update Prescription</button></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="footer">
          <span><button class="returnbtn" name="newPrescription" style="display: block; margin: 0 auto;" data-toggle="modal" data-target="#newPrescription">New Prescription</button></span>
        </div>
      </div>
  
    </div>
   </div>



  <div id="newPrescription" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="title">Prescribe Prescription</h4>
        </div>
        <div class="body">
          <form #newPrescriptionForm="ngForm" >
            <p>Please fill in this form to prescribe a new prescription.</p>
            <hr>

            <label for="patientEmail">Select your patient: </label>
            <select ngModel name="patientEmail" id="patients" required>
            <option *ngFor="let patient of patients" [value]="patient.email">{{patient?.fname + " " + patient?.lname}}</option>
            </select>
            <br>
            <label for="name"><b>Name</b></label>
            <input type="text" ngModel placeholder="Enter name of prescription..." name="name" id="name" required>
            <br>
            <label for="dosages"><b>Dosage</b></label>
            <input type="text" ngModel placeholder="Enter dosage..." name="dosages" id="dosages" required>
        
            <label for="description"><b>Description</b></label>
            <input type="text" ngModel placeholder="Enter description..." name="description" id="description">

          </form>
        </div>
        <div class="footer">
          <button class="returnbtn" type="submit" data-dismiss="modal" [disabled]="newPrescriptionForm.invalid" (click)="prescribe(newPrescriptionForm)">Prescribe</button>
        </div>
      </div>
  
    </div>
</div>

<div id="updatePrescription" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="title">Update Prescription</h4>
      </div>
      <div class="body">
        <form #updatePrescriptionForm="ngForm" (ngSubmit)="update(updatePrescriptionForm)">
          <p>Please fill in this form to update values.</p>
          <hr>
          <label for="name"><b>Name</b></label>
          <input type="text" ngModel placeholder={{this.prescription?.name}} name="name" id="name" required>
      
          <label for="dosages"><b>Dosage</b></label>
          <input type="text" ngModel placeholder={{this.prescription?.dosages}} name="dosages" id="dosages" required>
      
          <label for="description"><b>Description</b></label>
          <input type="text" ngModel placeholder={{this.prescription?.description}} name="description" id="description">
        </form>
      </div>
      <div class="footer">
        <button class="returnbtn" type="submit" data-dismiss="modal" (click)="update(updatePrescriptionForm)">Update</button>
      </div>
    </div>

  </div>
  </div>

  </div>
</body>
