<html>
<body>
  <form name="myForm" method="post">
  <div class="container">
    <h1>Forgot Password</h1>
    <p>Please enter the email associated with your account.</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="email" id="email" required>

    <div class="container forgot">
      <form>
        <input type="submit" name="log" id= "reset" value="Forgot" (click)="myForgot()" class="reset">
      </form>
  </div>
</div>
</form>

</body>
</html>