/* Add application styles & imports to this file! */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #696969;
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  color: #faf9f6;
  cursor: pointer;
  margin-right: auto;
}

li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #faf9f6;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}



.logo:hover {
  /*color: #0088a9;*/
  color: rgba(0, 136, 169, 1);
  transition: 0.3s ease 0s;
}


.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
  /*color: #0088a9;*/
  color: rgba(0, 136, 169, 1);
  text-decoration: none;
}

nav ul li ul a {
  padding: 8px 14px;
}

nav ul li ul a:hover {
  background-color: #f3f3f3;
}
button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 20px;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.patients-btn {
  border: none;
  
}

.test {
  background-color: #000000;
}

