<html>
	<body>
		<div id = "mysideBar" class = "sidebar">
			<a href = "javascript:void(0)" class = "closebtn" (click) = "closeNav()">&times;</a>
			<div class = "overlay-content">
                <a href = "adminp">Home</a>
                <br>
			  <a href = "adminapp">Appointments</a>
			  <br>
			  <a href = "uploadRepAdmin">Files</a>
			  <br>
			  <a href = "adminadduser">User Services</a>
			  <br>
			  <a href = "aBox">Inbox</a>
			  <br>
      		  <a href = "settingsA">Account Details</a>
			</div>
		  </div>
		  <div class = "main">
			<button class = "openbtn" (click) = "openNav()">&#9776;</button>
		  </div>

          <h1 style="text-align: center;">Admin Details</h1>

          <form #updateAdminForm="ngForm" (ngSubmit)="updateAdmin(updateAdminForm)">
            <p>Please fill in this form to update values.</p>
            <hr>
        
            <label for="fname"><b>First Name</b></label>
            <input type="text" ngModel placeholder={{this.admin.fname}} name="fname" id="fname">
        
            <label for="lname"><b>Last Name</b></label>
            <input type="text" ngModel placeholder={{this.admin.lname}} name="lname" id="lname">
        
            <label for="email"><b>Email</b></label>
            <input type="text" ngModel placeholder={{this.admin.email}} name="email" id="email">
        
            <label for="cellphone"><b>Phone Number</b></label>
            <input type="text" ngModel placeholder={{this.admin.cellphone}} name="cellphone" id="cellphone">
        
            <!--<label for="userpassword"><b>Password</b></label>
            <input type="password" ngModel placeholder="Enter Password" name="userpassword" id="userpassword"> -->
          </form>
          <button class="returnbtn" type="submit" data-dismiss="modal" (click)="updateAdmin(updateAdminForm)">Update</button>
    </body>
</html>