<!DOCTYPE html>
<html lang = "en">
<head>
  <title>Admin Portal</title>
  <meta charset="UTF-8">
</head>

<body>
  <div id = "mysideBar" class = "sidebar">
    <a href = "javascript:void(0)" class = "closebtn" (click) = "closeNav()">&times;</a>
    <div class = "overlay-content">
      <a href = "adminp">Home</a>
      <br>
      <a href = "showappt">Appointments</a>
      <br>
      <a href = "patientlist">Patients</a>
      <br>
      <a href = "medreq">Medication Requests</a>
      <br>
      <a href = "uploadrep">Upload Reports</a>
      <br>
      <a href = "docchats">Chats</a>
      <br>
      <a href = "docinbox">Inbox</a>
      <br>
      <a href = "settingsD">Account Details</a>
    </div>
  </div>
  <div class = "main">
    <button class = "openbtn" (click) = "openNav()">&#9776;</button>
  </div>
  <h1 class = "title">Patient Details</h1>

  <form name="myForm" method="post" #searchPatientForm="ngForm">
    <div class="container">
      <h1>Search Patient</h1>
      <p>Enter patient name and dob to view patient details</p>
      <hr>
      <br>
      <label for="fname"><b>First Name</b></label>
      <input type="text" ngModel placeholder="Enter First Name" name="fname" id="fname" required>
      <br>
      <label for="lname"><b>Last Name</b></label>
      <input type="text" ngModel placeholder="Enter Last Name" name="lname" id="lname" required>
      <br>
      <label for="dob"><b>Date of Birth</b></label>
      <br>
      <input type="date" ngModel placeholder="Select Date of Birth" name="dob" id="dob" required>
      <br>
      <br>
  
      <input class="returnbtn" type="submit" name="log" id= "registerbtn" value="Search" [disabled]="searchPatientForm.invalid" (click)="search(searchPatientForm)" data-toggle="modal" data-target="#viewPatient">
    </div>
  </form>

  <div id="viewPatient" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Patient Information</h4>
        </div>
        <div class="modal-body">
          <hr>
          <br>
          <h4>Details</h4> <br>
            <h5>Name: {{this.patient.fname}} {{this.patient.lname}}</h5> <br>
            <h5>Date of Birth: {{this.patient.dob}}</h5> <br>
          <br>
          <hr>
          <h4>Contact Information</h4> <br>
            <h5>Email: {{this.patient.email}}</h5> <br>
            <h5>Phone: {{this.patient.cellphone}}</h5> <br>
            <!-- button with href to chat -->
          <br>
          <hr>
          <h4>Prescriptions</h4> <br>
            <hr>
            <ul *ngFor="let pre of this.patient.prescriptions" class="list-group" >
              <li>Name: {{pre.name}} </li>
              <ol style="list-style-type: lower-alpha; padding-bottom: 0;">
                <li>Dosage: {{pre.dosages}}</li> 
                <li>Description: {{pre.description}}</li>
              </ol>
              <br>
            </ul>
          <br>
          <hr>
          <h4>Medical Conditions</h4> <br>
            <ul *ngFor="let hist of this.patient.medicalHistory" class="list-group" >
              <li>Name: {{hist.name}} </li>
              <ol style="list-style-type: lower-alpha; padding-bottom: 0;">
                <li>Doctor Diagnosed: {{hist.doctorDiagnosed}}</li>
                <li>Date Diagnosed: {{hist.dateDiagnosed}}</li>
                <li>Description: {{hist.description}}</li>
              </ol>
              <br>
            </ul>
      </div>
      </div>
    </div>
  </div>

</body>
