<!DOCTYPE html>
<html lang = "en">
<head>
  <title>Video Chat</title>
</head>

<body>

  <div id = "mysideBar" class = "sidebar">
    <a href = "javascript:void(0)" class = "closebtn" (click) = "closeNav()">&times;</a>
    <div class = "overlay-content">
      <a href = "patientp">Home</a>
      <br>
      <a href = "sapp">Request an Appointment</a>
      <br>
      <a href = "message">Messages</a>
      <br>
      <a href = "prescription">My Medications</a>
      <br>
      <a href = "precords">Records</a>
      <br>
      <a href = "settingsP">Account Settings</a>
      <br>
      <a href = "vchat">Video Chat</a>
    </div>
  </div>
  <div class = "main">
    <button class = "openbtn" (click) = "openNav()">&#9776;</button>
  </div>

  <iframe
  src="https://tokbox.com/embed/embed/ot-embed.js?embedId=07db8b78-4cca-48fc-bc4e-f36633bc7cb1&room=DEFAULT_ROOM&iframe=true"
  width="800px"
  height="640px"
  scrolling="auto"
  allow="microphone; camera"
></iframe>

</body>
