<html>
  <body>
    <form name="myForm" method="post">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Your email..">
    
        <label for="subject">Subject</label>
        <input type="text" id="subject" name="subject" placeholder="Your subject..">
    

        <label for="content">Content</label>
        <textarea id="content" name="content" placeholder="Write something.." style="height:200px"></textarea>
    
        <input type="submit" value="Submit">
    </form>
    <br>
    <div>
        <h1>Also you can call us at:</h1>
    <p>Phone: XXX - XXX - XXXX<br>
        Please be aware that we only answer calls around office hours.<br>
Please have patience and allow a minimum of 48 hours to get a response. We strive to amswer any question you and others may have as soon as we can.</p>
</div>
<br>
  </body>
</html>
