<!DOCTYPE html>
<html lang = "en">
<head>
  <title>Admin Portal</title>
  <meta charset="UTF-8">
</head>

<body>
  <div id = "mysideBar" class = "sidebar">
    <a href = "javascript:void(0)" class = "closebtn" (click) = "closeNav()">&times;</a>
    <div class = "overlay-content">
      <a href = "showappt">Appointments</a>
      <a href = "patientlist">Patients</a>
      <a href = "medreq">Medication Requests</a>
      <a href = "#">Upload Reports</a>
      <a href = "#">Chats</a>
      <a href = "#">Video Chats</a>
      <a href = "#">Inbox</a>
    </div>
  </div>
  <div class = "main">
    <button class = "openbtn" (click) = "openNav()">&#9776;</button>
  </div>
  <h1 class = "title">Hello</h1>
</body>
