/* You can add global styles to this file, and also import other style files */
/* Add application styles & imports to this file! */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

.cal-events {
  display: none !important;
}

.actives{
    color:white;
    border:2px solid red;
    padding: 2em;
  }
  