<html>
  <body>

    <div id = "mysideBar" class = "sidebar">
			<a href = "javascript:void(0)" class = "closebtn" (click) = "closeNav()">&times;</a>
			<div class = "overlay-content">
				<a href = "adminp">Home</a>
                <br>
			  <a href = "adminapp">Appointments</a>
			  <br>
			  <a href = "uploadRepAdmin">Files</a>
			  <br>
			  <a href = "adminadduser">User Services</a>
			  <br>
			  <a href = "aBox">Inbox</a>
			  <br>
      		  <a href = "settingsA">Account Details</a>
			</div>
		  </div>
		  <div class = "main" style="width:100px">
			<button class = "openbtn" (click) = "openNav()">&#9776;</button>
		  </div>
      <br>
      <br>
      <h1>Inbox</h1>
      <hr>
      
      
      <div id="id01" class="modal">
      
        <form #sendEmailForm="ngForm" class="modal-content animate" action="/action_page.php" method="post">
          <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
          </div>
      
          <div class="container">
            <label for="uemail"><b>From:</b></label>
            <input ngModel type="uemail" placeholder="Enter Your Email" name="uemail" required> 
      
            <label for="remail"><b>To:</b></label>
            <input ngModel type="remail" placeholder="Enter the Recipient's Email" name="remail" required>
      
            <label for="subject"><b>Subject:</b></label>
            <input ngModel type="subject" placeholder="Enter Subject" name="subject" required>
      
            <label for="content"><b></b></label>
            <textarea ngModel name="content" rows="10" cols="130" wrap="soft" maxlength="5000" ></textarea>
          </div>
      
          <div class="container" style="background-color:#f1f1f1">
              <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
              <button type="button" onclick="document.getElementById('id01').style.display='none'" class="sendbtn" (click)="submit(sendEmailForm)">Send</button>
            </div>
        </form>
      </div>
      <div class="pageContent">
      <div class="buttonBox">
          <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Compose</button>
          <button onclick="document.getElementById('id03').style.display='block'; document.getElementById('id02').style.display='none';"  style="width:auto;">Sent Mail</button>
          <button onclick="document.getElementById('id02').style.display='block'; document.getElementById('id03').style.display='none';"  style="width:auto;">Received Mail</button>
      </div>
      <br>
      <br>
      <br>

      <div style="display:none" id="id02" class="container" name="mailReceived">
        <h3 *ngIf="!received" class="message">No emails recieved</h3>
        <ul *ngIf="received" class="message"  style="list-style-type:none;">
          <li class="uemail">Sender</li>
          <li class="date">Date</li>
          <li class="subject">Subject</li>
          <li class="content">Content</li>
          <hr>
        </ul>
        <ul *ngFor="let message of this.received_messages; let i = index" style="list-style-type:none;">
          <ul class="message" *ngIf="sentName[i] != '' && sentName[i] != null && sentName[i] != undefined ">
            <li class="uemail" >{{sentName[i]}}</li>
            <li class="date">{{message?.date}}</li>
            <li class="subject">{{message?.subject}}</li>
            <li class="content">{{message?.content}}</li>
          </ul>
        </ul>
    </div>
    
    <div style="display:none" id="id03" class="container" name="mailSent">
        <h3 *ngIf="!sent" class="message">No emails sent</h3>
        <ul *ngIf="sent" class="message"  style="list-style-type:none;">
          <li class="uemail">Receiver</li>
          <li class="date">Date</li>
          <li class="subject">Subject</li>
          <li class="content">Content</li>
        </ul>
        <ul *ngFor="let message of this.sent_messages; let i = index" style="list-style-type:none;">
          <ul class="message" *ngIf="recieverName[i] != '' && recieverName[i] != null && recieverName[i] != undefined ">
            <li class="uemail">{{recieverName[i]}}</li>
            <li class="date">{{message?.date}}</li>
            <li class="subject">{{message?.subject}}</li>
            <li class="content">{{message?.content}}</li>
          </ul>
        </ul>
    </div>
    </div>
      <!--
          <div class="message">
            <input type="checkbox" />
            <span class="uemail">Scott</span>
            <span class="date">4/16/2022</span>
            <span class="subject">Hello World</span>
            <span class="content">I just wanted to say hello world!Be sure to take care of yourself</span>
          </div>
          
          <div class="message">
            <input type="checkbox" />
            <span class="uemail"></span>
            <span class="date"></span>
            <span class="subject"></span>
            <span class="content"></span>
          </div>
          
          <div class="message">
            <input type="checkbox" />
            <span class="uemail"></span>
            <span class="date"></span>
            <span class="subject"></span>
            <span class="content"></span>
          </div>
          
          <div class="message">
            <input type="checkbox" />
            <span class="uemail"></span>
            <span class="date"></span>
            <span class="subject"></span>
            <span class="content"></span>
          </div>
          
          <div class="message">
            <input type="checkbox" />
            <span class="uemail"></span>
            <span class="date"></span>
            <span class="subject"></span>
            <span class="content"></span>
          </div>
          
          <div class="message">
            <input type="checkbox" />
            <span class="uemail"></span>
            <span class="date"></span>
            <span class="subject"></span>
            <span class="content"></span>
          </div>
          
          <div class="message">
            <input type="checkbox" />
            <span class="uemail"></span>
            <span class="date"></span>
            <span class="subject"></span>
            <span class="content"></span>
          </div>
      -->
  </body>
</html>

