* {
    box-sizing: border-box;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
    background-color: white;
  }
  
  input[type='text'],
  input[type='email'],
  input[type='password'] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    margin-left: 50px;
  }
  
  input[type='email']:focus,
  input[type='password']:focus,
  input[type='text']:focus {
    background-color: #ddd;
    outline: none;
    margin-left: 50px;
  }
  
  label {
    margin-left: 50px;
  }
  
  h1 {
    margin-left: 50px;
  }
  
  input[type='submit'] {
    background-color: #1e6de2;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    margin-left: 50px;
  }
  