
<h2>Schedule</h2>
<hr>
    <div>
    <form name="myApp" action="/action_page.php" #myApp="ngForm" (ngSubmit)="myAppoint(myApp)">
      <label for="doctorEmail">Select your doctor: </label>
       <select ngModel name="doctorEmail" id="doctors" required>
       <option *ngFor="let doctor of doctors" [value]="doctor.email">Dr.{{doctor.lname}}</option>
      </select>
      <br>
      Select Date: 
      <input ngModel type="date" id="dateScheduled" name="dateScheduled" value="dateScheduled" required><br>
      Select Time:
      <input ngModel type="time" id="timeScheduled" name="timeScheduled" value="timeScheduled" required/>
    </form>
  </div>
    <input type="submit" name="sapp" id= "sappbtn" value="Schedule" (click)="myAppoint(myApp)" [disabled]="myApp.invalid" class="sapp">


<!--
<!DOCTYPE html>
<html lang = "en">
<head>
  <title>Patient Portal</title>
  <meta charset="UTF-8">
</head>

<body>
  <div id = "mysideBar" class = "sidebar">
    <a href = "javascript:void(0)" class = "closebtn" (click) = "closeNav()">&times;</a>
    <div class = "overlay-content">
      <a href = "sapp">Schedule an Appointment</a>
      <br>
      <a href = "pchat">Messages</a>
      <br>
      <a href = "prescription">My Medications</a>
      <br>
      <a href = "precords">Records</a>
      <br>
      <a href = "#">Account Settings</a>
      <br>
      <a href = "#">Video Chat</a>
    </div>
  </div>
  <div class = "main">
    <button class = "openbtn" (click) = "openNav()">&#9776;</button>
  </div>
  <h1 class = "title">Patient Portal Homepage</h1>
  <div>
    <form name="myApp" action="/action_page.php" #myApp="ngForm" (ngSubmit)="myAppoint(myApp)">
      <label for="doctorEmail">Select your doctor: </label>
       <select ngModel name="doctorEmail" id="doctors" required>
       <option *ngFor="let doctor of doctors" [value]="doctor.email">Dr.{{doctor.lname}}</option>
      </select>
      <br>
      Select Date: 
      <input ngModel type="date" id="dateScheduled" name="dateScheduled" value="dateScheduled" required><br>
      Select Time:
      <input ngModel type="time" id="timeScheduled" name="timeScheduled" value="timeScheduled" required/>
    </form>
  </div>
    <input type="submit" name="sapp" id= "sappbtn" value="Schedule" (click)="myAppoint(myApp)" [disabled]="myApp.invalid" class="sapp">

</body>
-->